{% extends 'padre.html' %}
{% load static %}

{% block contenido %}
<body class="conversor">
    <div class="container px-4 px-lg-9 d-flex h-100 align-items-center justify-content-center">
        <div class=col>
            <div class="d-flex justify-content-center">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Divisa a enviar</option>
                    <option value="1">USD oficial</option>
                    <option value="2">USD blue</option>
                    <option value="3">Euro</option>
                    <option value="4">Real</option>
                </select>
            </div>
        </div>
        <div class=col>
            <div class="d-flex justify-content-center">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Divisa a recibir</option>
                    <option value="1">Peso Argentino</option>
                    <option value="2">Peso Chileno</option>
                    <option value="3">Peso Uruguayo</option>
                    <option value="3">Guarani</option>
                </select>
            </div>
        </div>
    </div>
</body>
<div class="text-center fw-bold bg-light justify-content-center"> Cotizaciones actualizadas al {% now "SHORT_DATETIME_FORMAT" %} </div>


{% endblock %}