{% extends 'padre.html' %}
{% load static %}

{% block contenido %}

<section class="projects-section d-flex bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <div class="row row-cols-2">
            <div class="col"><a href="/cotizacion_usd" class="buttonA" class="btn btn-primary btn-lg">Cargar cotizacion USD</a></div>
            <div class="col"><a href="/cotizacion_usd_blue" class="buttonB" class="btn btn-secondary btn-lg">Cargar cotizacion USD Blue</a></div>
            <div class="col"><a href="/cotizacion_euro" class="buttonB" class="btn btn-secondary btn-lg">Cargar cotizacion Euro</a></div>
            <div class="col"><a href="/cotizacion_real" class="buttonA" class="btn btn-primary btn-lg">Cargar cotizacion Real</a></div>
            <div>
        </div>
    </div>
    <hr>
    <p>
    <p>         
    <div class="d-flex justify-content-center pt-xxl-3">
        <h6>Buscar cotizaciones por nombre de moneda(USD, USD_BLUE, Real, Euro)</h6>
    </div>
    <div class="wrap justify-content-center">
        <form action='SearchView.as_view()'>
            <input type='date'/>
            <input type='submit'/>
        </form>
    </div>
</section>

{% endblock %}