{% extends 'padre.html' %}
{% load static %}
{% block contenido %}


<section class="projects-section d-flex bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <div class='row title-row my-5'>
            <div class='col-12 py-0'>
                <h3 class='my-0 py-0'> Estas son las cotizaciones de la fecha:</b></h3>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <b>Dolar Oficial</b>
                        </div>
                        <div class="col order-5 text-center">
                            <b>Fecha de la cotizacion</b>
                        </div>
                            <div class="col order-1 text-center">
                            <b>Cotización</b>
                        </div>
                        <div class="col order-1 text-center">
                            <b>Variación diaria</b>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        {% if cot_dolar%}
                            {% for i in cot_dolar %}
                                <div class="col">
                                    {{ q }} 
                                </div>
                                <div class="col order-5 text-center">
                                    {{ i.fecha}}
                                </div>
                                <div class="col order-1 text-center">
                                    {{ i.cotizacion}}
                                </div>
                                <div class="col order-1 text-center">
                                    {{ i.variacion}}                            
                                </div>
                            {% endfor %}
                        {% else %}
                            </a><br/>No hay cotizaciones para esa fecha.</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}